
body {
    --color1: #353531ff;
    --color2: #ec4e20ff;
    --color3: #ff9505ff;
    --color4: #016fb9ff;
    --color5: #000000ff;

    /* --color1: #fa8638ff;
    --color2: #fffd77ff;
    --color3: #ffe882ff;
    --color4: #388697ff;
    --color5: #271033ff; */
    font-family: 'Merriweather', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    color: white;
    height: auto;
    box-shadow: var(--shadow);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

button {
    align-self: ;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}