
body {
    --color1: #353531ff;
    --color2: #ec4e20ff;
    --color3: #ff9505ff;
    --color4: #016fb9ff;
    --color5: #000000ff;

    /* --color1: #fa8638ff;
    --color2: #fffd77ff;
    --color3: #ffe882ff;
    --color4: #388697ff;
    --color5: #271033ff; */
    font-family: 'Merriweather', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    padding: 20px;
}

.fixed_header{
    width: 400px;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid black 2px;
}

.cartTable {
  height: 400px;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    color: white;
    height: auto;
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
