
body {
    --color1: #353531ff;
    --color2: #ec4e20ff;
    --color3: #ff9505ff;
    --color4: #016fb9ff;
    --color5: #000000ff;

    /* --color1: #fa8638ff;
    --color2: #fffd77ff;
    --color3: #ffe882ff;
    --color4: #388697ff;
    --color5: #271033ff; */
    font-family: 'Merriweather', serif;
}

li {
    width: 200px;
    height: auto;
    background-color: var(--color1);
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    border-radius: 10px;
    border: var(--color2) solid 1px;
}

li img {
    width: 150px;
    border: black solid 1px;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

#productList {
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    border-radius: 15px;;
    flex: 0 1 auto;
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    color: white;
    height: auto;
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

button {
    background-color: var(--color2);
    margin-left: 10px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


content {
    width: 80%;
}

.description {
    margin-top: 10px;
}

.price {
    margin: 10px;
    border: solid black 2px;
    padding: 5px;
}

select[id^="qty"] {
    margin-left: 10px;
    margin-right: 5px;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }